{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' %}
<div class="site-wrap" id="home-section">

    <div class="owl-carousel-wrapper">

        <div class="box-92819">
            <h1 class="text-white mb-3">Causes</h1>
            <p class="lead text-white">Valisha is a Nonprofit platform seeking to provide relief and support
                to the needy in society within a one mile radius.
            </p>
        </div>


        <div class="ftco-cover-1 overlay" style="background-image: url({% static 'img/hero_2.jpg' %});"></div>

    </div>
    <div class="site-section">
        <div class="container">

            <div class="row mb-5 align-items-st">
                <div class="col-md-5">
                    <div class="heading-20219">
                        <h2 class="title text-cursive mb-4">Featured Cause</h2>
                        <p>Valisha is a Nonprofit platform seeking to provide relief and support
                            to the needy in society within a one mile radius.</p>
                        <p>Valisha is a Nonprofit platform seeking to provide relief and support
                            to the needy in society within a one mile radius.</p>
                        <p><a href="#" class="btn btn-primary rounded-0 px-4">Donate Now</a></p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="cause shadow-sm">

                        <a href="#" class="cause-link d-block">
                            <img src="{% static 'img/img_1.jpg' %}" alt="Image" class="img-fluid">
                            <div class="custom-progress-wrap">
                                <span class="caption">80% complete</span>
                                <div class="custom-progress-inner">
                                    <div class="custom-progress bg-danger" style="width: 80%;"></div>
                                </div>
                            </div>
                        </a>

                        <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                            <span class="badge-danger py-1 small px-2 rounded mb-3 d-inline-block">School</span>
                            <h3 class="mb-4"><a href="#">Donate by Contributing to Education Scholarships</a></h3>
                            <div class="border-top border-light border-bottom py-2 d-flex">
                                <div>Donated</div>
                                <div class="ml-auto"><strong class="text-primary">$0</strong></div>
                            </div>

                            <div class="py-4">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'img/profile.jpeg' %}" alt="Image" class="rounded-circle mr-3" width="50">
                                    <div class="">Kelvin Mburu</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="cause shadow-sm">

                        <a href="#" class="cause-link d-block">
                            <img src="{% static 'img/img_1.jpg' %}" alt="Image" class="img-fluid">
                            <div class="custom-progress-wrap">
                                <span class="caption">80% complete</span>
                                <div class="custom-progress-inner">
                                    <div class="custom-progress bg-danger" style="width: 80%;"></div>
                                </div>
                            </div>
                        </a>

                        <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                            <span class="badge-danger py-1 small px-2 rounded mb-3 d-inline-block">School</span>
                            <h3 class="mb-4"><a href="#">Transforming Education</a></h3>
                            <div class="border-top border-light border-bottom py-2 d-flex">
                                <div>Donated</div>
                                <div class="ml-auto"><strong class="text-primary">$0</strong></div>
                            </div>

                            <div class="py-4">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'img/profile.jpeg' %}" alt="Image" class="rounded-circle mr-3" width="50">
                                    <div class="">Kelvin Mburu</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">

                    <div class="cause shadow-sm">

                        <a href="#" class="cause-link d-block">
                            <img src="{% static 'img/img_2.jpg' %}" alt="Image" class="img-fluid">
                            <div class="custom-progress-wrap">
                                <span class="caption">80% complete</span>
                                <div class="custom-progress-inner">
                                    <div class="custom-progress bg-primary" style="width: 80%;"></div>
                                </div>
                            </div>
                        </a>

                        <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                            <span class="badge-primary py-1 small px-2 rounded mb-3 d-inline-block">Health</span>
                            <h3 class="mb-4"><a href="#">Health Advocacy</a></h3>
                            <div class="border-top border-light border-bottom py-2 d-flex">
                                <div>Donated</div>
                                <div class="ml-auto"><strong class="text-primary">$0</strong></div>
                            </div>

                            <div class="py-4">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'img/pers2.jpg' %}" alt="Image" class="rounded-circle mr-3" width="50">
                                    <div class="">Jane Doe</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-4">

                    <div class="cause shadow-sm">

                        <a href="#" class="cause-link d-block">
                            <img src="{% static 'img/img_3.jpg' %}" alt="Image" class="img-fluid">
                            <div class="custom-progress-wrap">
                                <span class="caption">65% complete</span>
                                <div class="custom-progress-inner">
                                    <div class="custom-progress bg-warning" style="width: 80%;"></div>
                                </div>
                            </div>
                        </a>

                        <div class="px-3 pt-3 border-top-0 border border ">
                            <span class="badge-warning py-1 small px-2 rounded mb-3 d-inline-block">Livelihood</span>
                            <h3 class="mb-4"><a href="#">Transforming Livelihoods</a></h3>
                            <div class="border-top border-light border-bottom py-2 d-flex">
                                <div>Donated</div>
                                <div class="ml-auto"><strong class="text-primary">$</strong></div>
                            </div>

                            <div class="py-4">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'img/pers4.jpg' %}" alt="Image" class="rounded-circle mr-3" width="50">
                                    <div class="">Waiyaki Doe</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-12">
                    <span class="p-3">1</span>
                    <a href="#" class="p-3">2</a>
                    <a href="#" class="p-3">3</a>
                    <a href="#" class="p-3">4</a>
                </div>



            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">

            <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
                <div class="">
                    <h2 class="text-cursive">Helping the Homeless, Hungry, and Hurting People</h2>
                </div>
                <div class="ml-auto"><a href="#" class="btn btn-primary">Donate Now</a></div>
            </div>

        </div>
    </div>

    {% include 'footer.html' %}
</div>
{% endblock %}