{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' %}
<div class="owl-carousel-wrapper">



    <div class="box-92819">
        <h1 class="text-white mb-3">Join Our Movement To Help the Needy</h1>
        <p><a href="#" class="btn btn-primary py-3 px-4 rounded-0">Donate Now</a></p>
    </div>

    <div class="owl-carousel owl-1 ">
        <div class="ftco-cover-1 overlay" style="background-image: url({% static 'img/hero_1.jpg' %});"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url({% static 'img/hero_2.jpg' %});"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url({% static 'img/hero_3.jpg' %});"></div>

    </div>
</div>


<div class="container">
    <div class="feature-29192-wrap d-md-flex" style="margin-top: -20px; position: relative; z-index: 2;">

        <a class="feature-29192 overlay-danger"
            style="background-image: url({% static 'img/img_3_gray.jpg' %});">
            <div class="text">
                <span class="meta">Helping Livelihoods</span>
                <h3 class="text-cursive text-white h1">Livelihood</h3>
            </div>
        </a>

        <a class="feature-29192 overlay-success" style="background-image: url({% static 'img/img_2_gray.jpg' %});">
            <div class="text">
                <span class="meta">Health</span>
                <h3 class="text-cursive text-white h1">Health Advocacy</h3>
            </div>
        </a>

        <div class="feature-29192 overlay-warning" style="background-image: url({% static 'img/img_1_gray.jpg' %});">
            <div class="text">
                <span class="meta">Global Donations</span>
                <h3 class="text-cursive text-white h1">PayPal & M-Pesa</h3>
            </div>
        </div>

    </div>
</div>

<div class="site-section">
    <div class="container">

        <div class="row mb-5 align-items-st">
            <div class="col-md-4">
                <div class="heading-20219">
                    <h2 class="title text-cursive">Latest Causes</h2>
                </div>
            </div>
            <div class="col-md-8">
                <p>Valisha is all about helping to make a difference in the society by helping people.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="cause shadow-sm">

                    <a href="#" class="cause-link d-block">
                        <img src="{% static 'img/img_1.jpg' %}" alt="Image" class="img-fluid">
                        <div class="custom-progress-wrap">
                            <span class="caption">80% complete</span>
                            <div class="custom-progress-inner">
                                <div class="custom-progress bg-danger" style="width: 80%;"></div>
                            </div>
                        </div>
                    </a>

                    <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                        <span class="badge-danger py-1 small px-2 rounded mb-3 d-inline-block">School</span>
                        <h3 class="mb-4"><a href="#">Sponsoring Education through Scholarships</a></h3>
                        <div class="border-top border-light border-bottom py-2 d-flex">
                            <div>Donated</div>
                            <div class="ml-auto"><strong class="text-primary">$0</strong></div>
                        </div>

                        <div class="py-4">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'img/pers1.jpg' %}" alt="Image" class="rounded-circle mr-3"
                                    width="50">
                                <div class="">Jane Doe</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">

                <div class="cause shadow-sm">

                    <a href="#" class="cause-link d-block">
                        <img src="{% static 'img/img_2.jpg' %}" alt="Image" class="img-fluid">
                        <div class="custom-progress-wrap">
                            <span class="caption">80% complete</span>
                            <div class="custom-progress-inner">
                                <div class="custom-progress bg-primary" style="width: 80%;"></div>
                            </div>
                        </div>
                    </a>

                    <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                        <span class="badge-primary py-1 small px-2 rounded mb-3 d-inline-block">Health</span>
                        <h3 class="mb-4"><a href="#">Contributing to Childhood Health Development</a></h3>
                        <div class="border-top border-light border-bottom py-2 d-flex">
                            <div>Donated</div>
                            <div class="ml-auto"><strong class="text-primary">$0</strong></div>
                        </div>

                        <div class="py-4">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'img/pers3.jpg' %}" alt="Image" class="rounded-circle mr-3"
                                    width="50">
                                <div class="">Kelvin Doe</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-4">

                <div class="cause shadow-sm">

                    <a href="#" class="cause-link d-block">
                        <img src="{% static 'img/img_3.jpg' %}" alt="Image" class="img-fluid">
                        <div class="custom-progress-wrap">
                            <span class="caption">80% complete</span>
                            <div class="custom-progress-inner">
                                <div class="custom-progress bg-warning" style="width: 80%;"></div>
                            </div>
                        </div>
                    </a>

                    <div class="px-3 pt-3 border-top-0 border border ">
                        <span class="badge-warning py-1 small px-2 rounded mb-3 d-inline-block">Livelihood</span>
                        <h3 class="mb-4"><a href="#">Transforming Livelihoods one Home at a Time</a></h3>
                        <div class="border-top border-light border-bottom py-2 d-flex">
                            <div>Donated</div>
                            <div class="ml-auto"><strong class="text-primary">$0</strong></div>
                        </div>

                        <div class="py-4">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'img/pers5.jpg' %}" alt="Image" class="rounded-circle mr-3"
                                    width="50">
                                <div class="">James Doe</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="bg-image overlay site-section" style="background-image: url({% static 'img/hero_1.jpg' %});">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-12">
                <div class="row mb-5">
                    <div class="col-md-7">
                        <div class="heading-20219">
                            <h2 class="title text-white mb-4 text-cursive">Why Choose Us</h2>
                            <p class="text-white">We are addressing problems affecting our society by being there for
                                each other in times of need.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <div class="feature-29012 d-flex">
                            <div class="number mr-4"><span>1</span></div>
                            <div>
                                <h3>Transforming Livelihoods</h3>
                                <p>Valisha is a Nonprofit platform users can use to make donations to the needy in
                                    society within a one mile radius.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <div class="feature-29012 d-flex">
                            <div class="number mr-4"><span>2</span></div>
                            <div>
                                <h3>Education Scholarships</h3>
                                <p>Valisha is a Nonprofit platform users can use to make donations to the needy in
                                    society within a one mile radius.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-5">
                        <div class="feature-29012 d-flex">
                            <div class="number mr-4"><span>3</span></div>
                            <div>
                                <h3>Health Advocacy</h3>
                                <p>Valisha is a Nonprofit platform users can use to make donations to the needy in
                                    society within a one mile radius.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <div class="feature-29012 d-flex">
                            <div class="number mr-4"><span>4</span></div>
                            <div>
                                <h3>Poverty Eradication</h3>
                                <p>Valisha is a Nonprofit platform users can use to make donations to the needy in
                                    society within a one mile radius.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="heading-20219 mb-5">
            <h2 class="title text-cursive">Upcoming Events</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="event-29191 mb-5">
                    <a href="#" class="d-block mb-3"><img src="{% static 'img/img_1.jpg' %}" alt="Image"
                            class="img-fluid rounded"></a>
                    <div class="px-3 d-flex">

                        <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                            <span class="text-white h3 m-0 d-block">22</span>
                            <span class="text-white small">Oct 2022</span>
                        </div>

                        <div>
                            <div class="mb-3">
                                <span class="mr-3"> <span class="icon-clock-o mr-2 text-muted"></span>9:30 AM &mdash;
                                    11:30 AM</span>
                                <span> <span class="icon-room mr-2 text-muted"></span>Nairobi Kenya</span>
                            </div>
                            <h3><a href="#">Coming Soon!</a></h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-29191 mb-5">
                    <a href="#" class="d-block mb-3"><img src="{% static 'img/img_2.jpg' %}" alt="Image"
                            class="img-fluid rounded"></a>
                    <div class="px-3 d-flex">

                        <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                            <span class="text-white h3 m-0 d-block">22</span>
                            <span class="text-white small">Nov 2022</span>
                        </div>

                        <div>
                            <div class="mb-3">
                                <span class="mr-3"> <span class="icon-clock-o mr-2 text-muted"></span>9:30 AM &mdash;
                                    11:30 AM</span>
                                <span> <span class="icon-room mr-2 text-muted"></span>Mombasa Kenya</span>
                            </div>
                            <h3><a href="#">Coming Soon!</a></h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-image overlay-primary" style="background-image: url('images/img_1.jpg');">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-md-6">
                <img src="{% static 'img/img_1.jpg' %}" alt="Image" class="img-fluid shadow">
            </div>
            <div class="col-md-6">
                <div class="bg-white h-100 p-4 shadow">
                    <h3 class="mb-4 text-cursive">Donation Enquiries? Send us a Message</h3>
                    <form action="#">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Message" required>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">

        <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
            <div class="">
                <h2 class="text-cursive">Helping the Homeless, Hungry, and Hurting People</h2>
            </div>
            <div class="ml-auto"><a href="#" class="btn btn-primary">Donate Now</a></div>
        </div>

    </div>
</div>

<!-- Back to top button -->
{% include 'footer.html' %}
{% endblock %}